<header>
  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
      <h1 class="text-center text-light">The Verge</h1>
      <p class="text-center text-light">News Scraper</p>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark top-nav">
    {{!-- <a class="navbar-brand" href="/"><span class="text-light">The Verge News</span></a> --}}
    <button id="bookmark-btn" class="btn btn-outline-light nav-btn" data-toggle="modal"
      data-target="#bookmarked-modal">Bookmarked Articles</button>
    <button id="scrape-btn" class="btn btn-outline-light nav-btn">Scrape Articles</button>
    <button id="clear-btn" type="button" class="btn btn-outline-light nav-btn">Clear Articles</button>
  </nav>
</header>
{{#if news}}
<div class="list-group">
  {{#each news}}
  <button type="button" class="list-group-item list-group-item-action bg-dark" data-toggle="modal"
    data-target="#news-modal" data-base-url={{this.linkURL}} data-db-id={{this._id}}>
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img class="card-img" src="{{this.image}}" alt="{{this.summary}} + Image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{this.headline}}</h6>
              <h6 class="card-text">"{{this.summary}}"</p>
                <p class="card-text"><em>By: {{this.byline}}</em></p>
          </div>
        </div>
      </div>
    </div>
  </button>
  {{/each}}
</div>
{{else}}
<div class="jumbotron jumbotron-fluid bg-dark no-content">
  <div class="container">
    <h3 class="text-center text-light">No Articles to Display.</h3>
    <h3 class="text-center text-light">Click the "Scrape Articles" Button for News.</h3>
  </div>
</div>
{{/if}}
<div class="modal fade" id="news-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="news-modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="container button-wrapper" id="modal-btn-wrapper"></div>
      <div class="wrapper-seperator"></div>
      <div class="container">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="username" class="col-form-label">Commentor Name:</label>
                <input type="text" class="form-control" id="username" placeholder="Christopher S.">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="add-comment-field" class="col-form-label">Add a Comment:</label>
                <textarea class="form-control" id="add-comment-field" placeholder="That was a interesting read!"></textarea>
              </div>
            </div>
          </div>
          <div class="button-wrapper" id="comment-btn-wrapper">
            <button type="submit" class="btn btn-info" id="add-comment-btn">Add Comment</button>
          </div>
        </form>
      </div>
      <div class="modal-body" id="news-modal-body">
        <div class="news-modal-comments-wrapper">
          <div class="list-group news-modal-comments">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bookmarked-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookmarked-modal-title">Bookmarked Articles</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body" id="news-modal-body">
        <div class="bookmarked-modal-list">
          <div class="list-group">
            {{#each news}}
            {{#if bookmarked}}
            <button type="button" class="list-group-item list-group-item-action bg-dark" data-toggle="modal"
              data-target="#news-modal" data-base-url={{this.linkURL}} data-db-id={{this._id}}>
              <div class="card">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img class="card-img" src="{{this.image}}" alt="{{this.summary}} + Image">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{this.headline}}</h6>
                        <h6 class="card-text">"{{this.summary}}"</p>
                          <p class="card-text"><em>By: {{this.byline}}</em></p>
                    </div>
                  </div>
                </div>
              </div>
            </button>
            {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <nav class="navbar fixed-bottom navbar-info bg-dark bottom-nav">
    <div class="container">
      <h2 class="text-center text-light">All Content and Images are copyrighted and owned by Vox Media</h2>
    </div>
  </nav>
</footer>